page-steppy-food-video {
  ion-card-content h2{
    padding: 0px;
    margin: 0px;
  }
  #listItem{
    font-size: 20px;
  }
  ion-card-header{
    font-size: 30px;
    background-color:gainsboro;
  }

}
