page-steppy-game {
    ion-col h1{
        padding-top:50%;
    }
    #Food_title {
      padding-top:10%;
      font-size: 30px;
    }
    #Food_KJ {
      padding-bottom: 10%;
    }
    #Goal{
        padding-top:0%;
    }

}
