page-home {
    .headerStyle h1{
        font-size: 27px;
        font-weight: bold;
    }
    .headerStyle ion-icon{

    }
    ion-card {
      padding-top: 30px;
      padding-bottom: 30px;
    }
}
